<h1 *ngIf="showHeading">Portfolio</h1>
<ng-container *ngIf="!submitted;else preview">
  <h2>Personal Information</h2>
  <form>
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" [(ngModel)]="nm"/>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" [(ngModel)] = "em"/>
    </div>
    <div>
        <label for="address">Email</label>
      <input type="address" name="address" id="address" [(ngModel)] = "add"/>  
    </div>
    <h2>Qualification {{ i+1 }}</h2>
    <div *ngFor= "let q of qualification; let i = index;">
        <form>
            <label for="school/college-{{ i }}">School/college</label>
            <input type="text" name="school/college" id="school/college" [(ngModel)] = "q.school"/>
        </form>
    </div>
    <div>
        <form>
            <label for="degree-{{ i }}">Degree</label>
            <input type="text" name="degree" id="degree" [(ngModel)] = "q.degree"/>
        </form>
    </div>
    <div>
        <form>
            <label for="year-{{ i }}">year</label>
            <input type="text" name="year" id="year" [(ngModel)] = "q.year"/>
        </form>
    </div>
  </form>
  <div class="btn-container">
    <button (click)="addQualification()">Add Qualification</button>
    <button type="submit" (click)="formSubmit()">Submit</button>
  </div>
</ng-container>

<ng-template #preview>
    <div class="preview-container">
        <h2>Preview</h2>
            <p [ngClass]="{ name:true }">{{ nm }}</p>
            <p>Email: {{ ph }}</p>
            <p>Phone: {{ em }} </p>
            <p>Address: {{ add }}</p>
    </div>
    <div >
        <h2>Qualifications</h2>
        <div >
            <h5>School/College:</h5>
            <h5>Degree:</h5>
        </div>
        <button (click)="formEdit()">
            Edit
        </button>
    </div>
</ng-template>
